@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}



.page {
  padding: 20px;
  text-align: center;
}

.navbar {
  background-color: #333;
  padding: 10px;
}

.navbar ul {
 
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar li {
  margin: 0 15px;
}

.navbar a {
  /* text-decoration: none; */
  color: white;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #00bcd4;
}

.home {
  background-color: #ffeb3b;
}

.about {
  background-color: #8bc34a;
}

.contact {
  background-color: #03a9f4;
}

.footer{
  background-color:darkslategray;
  color: #ededed;
}